.Contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-grow: 1;
  flex-direction: column;
  background: rgb(118,228,100);
  background: linear-gradient(326deg, rgba(118,228,100,1) 0%, rgba(141,141,231,1) 50%, rgba(71,205,232,1) 100%);
}

.Contacts h1 {
  color: whitesmoke;
}